<h1>Welcome to your Recipe App!  Create a new recipe:</h1>

<form method="post" action="/recipes">
  <p><label for="name">Name: </label><input id="name" name="name" type="text" /></p>
  <p><label for="ingredients">Ingredients: </label><textarea id="ingredients" name="ingredients" rows="10" columns="50"></textarea></p>
  <p><label for="cook_time">Cook Time: </label><input id="cook_time" name="cook_time" type="text" /></p>
  <p><input type="submit" value="Submit" /></p>
</form>

<form method="post" action="/recipes/<%= @recipe[:id] %>">
  <p>Get a recipe by its id: <input id="id" name="id" type="text" />
  <input type="submit" value="Submit" />
</form>
